:local(.container) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  z-index: 9;
  visibility: hidden;
}

:local(.overlay) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.67);
  backface-visibility: hidden;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease;
}

:local(.menu) {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  backface-visibility: hidden;
  max-width: 300px;
  width: calc(100% - 50px);
  display: flex;
  background-color: #1d1d20;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

:local(.containerOpen) {
  composes: container;
  visibility: visible;

  :local(.menu) {
    transform: translateX(0%);
  }

  :local(.overlay) {
    opacity: 1;
  }
}

:local(.wrapper) {
  width: 100%;
}

:local(.tabs) {
  padding-left: 45px;
  padding-top: 20px;
}

:local(.tab) {
  display: block;
  padding: 15px 0px;
  font-size: 16px;
  color: white;
}

:local(.footer) {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 10px;
  font-size: 14px;
}
