:local(.container) {
  padding: 0px 15px;
  height: 70px;
  background-color: #19191a;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(white, 0.05);
  border-bottom: 1px solid rgba(white, 0.05);
}

:local(.index) {
  width: 48px;
  height: 48px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  flex-shrink: 0;

  color: white;
  font-size: 24px;
}

:local(.active) {
  background-color: #ffea00;
  color: black;
}

:local(.info) {
  padding-left: 15px;
  width: 100%;
  overflow: hidden;
}

:local(.title) {
  color: #fafafa;
  font-size: 16px;
  letter-spacing: -0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:local(.duration) {
  margin-top: 5px;
  font-size: 14px;
  color: rgba(white, 0.7);
}

:local(.play) {
  margin-left: auto;
  padding-left: 20px;
  flex-shrink: 0;
}
