:local(.container) {
  padding: 0 10px;
}

:local(.wrapper) {
  width: 100%;
  background-color: #9800ff;
  border-radius: 4px;
}

:local(.icon) {
  margin: auto;
  padding-top: 20px;
  width: 70px;
  display: block;
}

:local(.title) {
  margin-top: 20px;
  color: white;
  font-size: 19px;
  letter-spacing: -0.2px;
  font-weight: 500;
  padding: 0 15px;
}

:local(.description) {
  color: white;
  font-size: 16px;
  letter-spacing: -0.2px;
  padding: 0 15px;
  margin-top: 10px;
}

:local(.buttons) {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
  padding-bottom: 15px;
}

:local(.button) {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: rgba(black, 0.1);
  cursor: pointer;
  border-radius: 2px;
}
